:root {
    --main-0: #f9fafa;
    --main-1: #eef0f1;
    --main-2: #d2d6db;
    --main-3: #b5bdc4;
    --main-4: #99a3ad;
    --main-5: #7d8a97;
    --main-6: #64707d;
    --main-7: #4d5760;
    --main-8: #363d44;
    --main-9: #202428;
    --main-theme: rgb(59, 73, 223);
    --main-theme-darker: rgb(47, 58, 178);
    --main-theme-lighter: #8d95f2;
  
    --theme-background: #eef0f1;
    --font-color: #08090a;
  
    --site-width: 1280px;
  
    --header-height: 56px;
    --header-bg: #fff;

    --hover-background: rgba(8, 9, 10, 0.05);
    --border-color: rgb(47, 47, 47);
  }

  [data-theme='dark'] {
    --theme-background: rgb(0 0 0);
    --font-color: rgb(250 250 250);
    --header-bg: rgb(23 23 23);
    --hover-background: rgb(43, 40, 103);
    --main-theme: rgb(79, 70, 229);
    --main-theme-darker: rgb(165, 180, 242);

    --main-0: rgb(0, 0, 0);
  }