button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border-style: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  color: var(--main-theme);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  border: 1px solid var(--main-theme);

  &:hover {
    background-color: var(--main-theme-darker);
    color: #ffffff;
  }
}
