.header {
  max-width: 100%;
  background-color: var(--header-bg);

  height: var(--header-height);

  .header-container {
    width: 80%;
    max-width: var(--site-width);
    margin: 0 auto;

    .header-container-left {
      &__hamburger {
        display: none;
        height: 100%;
        padding: 1.2rem 0.7rem;
        margin: 0 0.5rem;
        border-radius: 0.4rem;
        cursor: pointer;
        .hamburger-menu {
          background-color: var(--font-color);
          height: 2px;
          width: 1.2rem;

          &::before,
          &::after {
            content: "";
            background-color: var(--font-color);
            height: 2px;
            width: 1.2rem;
            cursor: pointer;
            display: block;
          }

          &::before {
            transform: translateY(-7px);
          }

          &::after {
            transform: translateY(5px);
          }
        }

        &:hover {
          background-color: var(--hover-background);
        }
      }
      &__logo {
        color: #000;
        background-color: #fff;
        border-radius: 0.5rem;
        height: 2.5rem;
      }

      &__searchBox {
        width: 100%;
        flex: 1 auto;
        margin: 0.2rem 1rem;

        .search {
          background-color: var(--main-0);
          border-radius: 5px;
          border: 1px solid var(--border-color);

          input {
            padding: 0.6rem;
            width: 350px;
            border-radius: 5px;
          }
          .search__button {
            width: 38px;
          }
        }

        .focus {
          border: 1px solid var(--main-theme);
        }
      }
    }

    .header-container-right {
      margin-left: auto;

      .hidden-search {
        display: none;
      }

      i {
        margin: 0 0.5rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        color: var(--main-8);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 0 10px rgba($color: #000000, $alpha: 0.05);
          background-color: rgba($color: #000000, $alpha: 0.05);
          color: var(--font-color);
          z-index: 1;
        }
      }

      span {
        height: 2rem;
        width: 2rem;
        margin: 0 0.5rem;
        position: relative;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          display: inline-block;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 0 5px rgba($color: #000000, $alpha: 0.05);
          }
        }
      }

      .header-dropdown {
        position: absolute;
        top: var(--header-height);
        right: -0.2rem;
        left: auto;

        .dropdown-break {
          background-color: var(--border-color);
          width: 95%;
          height: 1.2px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-container {
      width: 100%;
      .header-container-left {
        &__hamburger {
          display: block;
        }
        &__searchBox {
          display: none;
        }
      }
      .header-container-right {
        button {
          display: none;
        }
        .hidden-search {
          display: block;
        }
      }
    }
  }
}
