.sidebar {
  flex-grow: 1;
}

.sidebar-left {
  width: 240px;
  &__items {
    a {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      color: var(--font-color);

      i {
        font-size: 1.25rem;
        padding-right: 0.5rem;
      }

      &:hover {
        background-color: var(--hover-background);
        color: var(--main-theme-darker);
        border-radius: 5px;
      }
    }
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-right: 0;
    margin-top: 1.2rem;

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }
    i {
      padding: 0.5rem;
      margin-right: 1rem;
      color: var(--main-6);
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        color: var(--main-9);
        background-color: var(--main-a);
      }
    }
  }
  &__socials {
    margin-top: 1rem;
    a {
      font-size: 1.5rem;
      color: var(--main-6);
      margin: 0 0.5rem 0 0;
      padding: 0.5rem;
      border-radius: 0.3rem;

      &:hover {
        background-color: var(--hover-background);
      }
    }
  }

  &__taglist {
    height: 40vh;
    overflow-y: auto;
    margin-right: 0.75rem;
    line-height: 1.6;
    .tag-item {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-background);
        color: var(--main-theme-darker);
        border-radius: 5px;
      }
    }
  }
}

.sidebar-responsive {
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: none;
}

.sidebar-responsive-menu {
  max-width: 300px;
  width: 90%;
  background-color: var(--sidebar-background);
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  position: relative;

  .heading {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--main-2);

    h2 {
      font-size: 1.2rem;
      flex: 1;
    }

    button {
      border-radius: 0.3rem;
      padding: 0.3rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--font-color);

      &:hover {
        // box-shadow: 0 0 0 5px rgba($color: #000000, $alpha: 0.05);
        background-color: var(--hover-background);
        color: var(--font-color);
        z-index: 1;
      }
    }
  }

  .sidebar-responsive-contents {
    padding: 0.5rem;

    ul li {
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 768px) {
  .left-bar {
    display: none;
  }

  .sidebar-responsive {
    display: block;
  }
}
