.sidebar {
  flex-grow: 1;
  .hidden {
    display: none;
  }
}

.sidebar-left {
  width: 240px;
  &__items {
    a {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      color: var(--font-color);

      i {
        font-size: 1.25rem;
        padding-right: 0.5rem;
      }

      &:hover {
        background-color: var(--hover-background);
        color: var(--main-theme-darker);
        border-radius: 5px;
      }
    }

    .more {
      font-size: 0.875rem;
      a {
        color: var(--main-7);
        padding-left: 2rem;
      }
    }
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-right: 0;
    margin-top: 1.2rem;

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }
    i {
      padding: 0.5rem;
      margin-right: 1rem;
      color: var(--main-6);
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        color: var(--main-9);
        background-color: var(--main-a);
      }
    }
  }
  &__socials {
    margin-top: 1rem;
    a {
      font-size: 1.5rem;
      color: var(--main-6);
      margin: 0 0.5rem 0 0;
      padding: 0.5rem;
      border-radius: 0.3rem;

      &:hover {
        background-color: var(--hover-background);
      }
    }
  }

  &__taglist {
    height: 40vh;
    overflow-y: auto;
    margin-right: 0.75rem;
    line-height: 1.6;
    .tag-item {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-background);
        color: var(--main-theme-darker);
        border-radius: 5px;
      }
    }
  }
}
